.portfolio-box {
  position: relative;
  display: block;
  max-width: 650px;
  margin: 0 auto;
  border-radius: 5px;
}
.portfolio-box .portfolio-box-caption {
  color: white;
  opacity: 0;
  display: block;
  background: lightseagreen;
  position: absolute;
  border-radius: 5px;
  bottom: 0;
  text-align: center;
  width: 100%;
  height: 100%;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;
  padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
  opacity: 0.6;
}
.portfolio-box:hover{
  /*-webkit-transition: all 1.00s;
  -moz-transition: all 0.35s;
  transition: all 1.00s;*/
  -webkit-transition: all 1.00s ease-in-out;
  -webkit-transform : scale(1.1);
}
.portfolio-box:focus {
  outline: none;
}
@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px;
  }
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px;
  }
}
.test{
    border: 1px solid black;
}
.cadre{
    width: 100%;
    border-radius: 5px;
}
.photo-text{
  margin-top: 15px;
  text-align: center;
}